* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: #151515;
    min-height: 2000px;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
}

header .container {
    max-width: 1110px;
    width: 100%;
    margin: 12px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.66);
    backdrop-filter: blur(30px);
    padding: 12px;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    gap: 54px;
    align-items: center;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: clamp(14px, 2vw, 18px);
}

.logo {
    height: clamp(28px, 4vw, 44px);
}

.menu {
    display: none;
    font-size: 32px;
    font-size: clamp(22px, 4vw, 32px);
    color: #fff;
    background: transparent;
    border: none;
}

.cta {
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: clamp(12px, 2vw, 18px);
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
    padding: clamp(2px, 1vw, 12px) 12px;
    border-radius: 8px;
    background: linear-gradient(98deg, #000261 -35.55%, #2F00FF 43.96%);
    border: none;
    white-space: nowrap;
}


.hero-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(assets/heroBg.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.hero-section .container {
    max-width: 1366px;
    height: auto;
    display: flex;
    padding: 128px;
    margin-top: 32px;
}

.hero-section .left-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.hero-section h1 {
    color: #FFF;
    font-family: Sora;
    font-size: clamp(24px, 4vw, 56px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 550px;
}

.hero-section h1 span {
    font-family: Sora;
    font-weight: bolder;
}

.hero-section p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-size: clamp(12px, 2vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cta-container {
    margin-top: 22px;
    display: flex;
    gap: 4%;
    width: 100%;
}

button,
a {
    cursor: pointer;
}

.hero-section button:last-child {
    border: none;
    background: none;
    color: #FFF;
    font-family: Inter;
    font-size: 1em;
    font-size: 10px;
    font-size: clamp(0.625em, 1vw, 1em);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: underline;
}

.hero-section .right-container {
    width: 50%;
    display: flex;
}

.right-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    transform: translateX(8%);
}

.benefits-section {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background: linear-gradient(180deg, #000 0%, #05041C 100%); */
    /* background: #050505; */
    background: linear-gradient(180deg, #000, #050505);
    padding-bottom: 80px;
}


.benefits-section h2, .courses-section h2 {
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: clamp(18px, 4vw, 32px);
    padding: 0 12px;
    font-style: normal;
    font-weight: 700;
    margin-top: 80px;
}

.benefits-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 0;
}


.benefits-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.benefit-card {
    padding: 1rem;
    text-align: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    max-width: 350px;
}

.benefit-card img {
    width: clamp(24px, 4vw, 48px);
    height: auto;
    flex-shrink: 0;
}

.benefit-card h3 {
    color: #FFF;
    text-align: center;
    font-family: Sora, sans-serif;
    font-size: clamp(14px, 2vw, 20px);
    font-weight: 700;
    line-height: 1.2;
    white-space: normal;
}

.benefit-card p {
    color: #FFF;
    text-align: center;
    font-family: Sora, sans-serif;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 400;
    line-height: 1.4;
}

.courses-section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    background-image: url(assets/coursesBg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.courses-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #00000077 0%, #05041ce1 100%);
    z-index: -1;
    transform: rotateX(180deg);
}

.courses-section .container {
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 0;
}

.courses-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}


.course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: #151515;
    padding-bottom: 32px;

    width: 312px;
    width: clamp(100px, 65vw, 302px);
    height: auto;
    flex-shrink: 0;

    border-radius: 12px;
    background: #05041C;
    box-shadow: 0 4px 15.2px 0 rgba(0, 0, 0, 0.25);
}

.course-card .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 22px;
}

.course-card h3 {
    color: #FFF;
    font-family: Sora;
    font-size: clamp(12px, 2vw, 16px);
    font-style: normal;
    font-weight: 700;
}

.course-card p {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-size: clamp(12px, 2vw, 14px);
    font-style: normal;
    font-weight: 400;
}

.banner {
    width: 302px;
    width: clamp(100px, 65vw, 302px);
    flex-shrink: 0;
}

@media (max-width: 1024px) {
    header nav ul {
        gap: 12px;
    }

    header nav {
        margin: 0;
    }

    header {
        max-width: 100vw;
    }

    header .container {
        margin: 0;
        margin: 12px 12px;
    }

    .hero-section {
        background-attachment: unset;
    }

    .hero-section .container {
        align-items: center;
        padding: 0 10% 10% 10%;
        margin: 0;
        margin-top: 100px;
    }

    .cta-container {
        margin-top: 2%;
    }

    .benefits-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-top: 2rem;
    }

    .benefit-card:last-child:nth-child(odd) {
        grid-column: 1 / -1;
        justify-self: center;
        max-width: 300px;
    }

    .courses-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 700px){
    .courses-cards-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {

    .hero-section .container {
        flex-direction: column;
        align-items: stretch;
        padding: 0 10%;
        margin-top: 100px;
    }

    header nav ul {
        display: none;
    }

    .menu {
        display: block;
    }

    .hero-section .left-container {
        width: 100%;
        align-items: flex-start;
        gap: 2vh;
    }

    .hero-section h1,
    p {
        max-width: 300px;
    }

    .hero-section h1 {
        font-size: 32px;
        font-size: clamp(1px, 7vw, 32px);
    }

    .hero-section p {
        font-size: 12px;
        font-size: clamp(1px, 5vw, 12px);
    }

    .hero-section .left-container .cta-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .cta-container .cta {
        font-size: clamp(6px, 3vw, 16px);
    }

    .hero-section button:last-child {
        font-size: clamp(1px, 3vw, 12px);
    }

    .hero-section .right-container {
        width: 100%;
        margin-top: 4%;
        display: flex;
    }

    .hero-section .right-container img {
        transform: translateX(0);
    }

    .benefits-cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin-top: 2rem;
    }

    .benefit-card {
        justify-self: center;
        max-width: 100%;


    }

    .benefit-card:last-child:nth-child(odd) {
        grid-column: 1 / -1;
        justify-self: center;
        max-width: 100%;
    }
}